@media screen and (max-width: 700px){
    header .container{
        display: flex;
        flex-direction: column;
    }

    .botao{
        margin-top: 5px;
        width: 300px;
    }
    .filme-principal .descricao{
        font-size: 16px;
        margin-right: 30px;
    }
}

@media screen and (min-width: 701px){
    .descricao{
        width: 50%;
        font-size: 14px;
    }
    .filme-principal .titulo{
        margin-top: 10%;
    }
}
@media screen and (min-width: 1000px){
    .descricao{
        width: 50%;
        font-size: 20px;
    }
    .filme-principal .titulo{
        margin-top: 0;
    }
}
